<h1>Heroes List</h1>
<hr />

<div class="row">
  <div class="col text-end">
    <button routerLink="/hero/new" class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Add
    </button>
  </div>
</div>
<table
  *ngIf="!loading && heroes.length"
  class="table table-dark table-striped mt-3 animated fadeIn"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Super Power</th>
      <th scope="col">Alive</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ hero.name }}</td>
      <td>{{ hero.superPower }}</td>
      <td>
        <label class="badge text-bg-success" *ngIf="hero.alive">Alive</label>
        <label class="badge text-bg-danger" *ngIf="!hero.alive">Dead</label>
      </td>
      <td>
        <button class="btn btn-info me-2" [routerLink]="['/hero', hero.id]">
          <i class="fa fa-pen"></i>
        </button>
        <button class="btn btn-danger" (click)="deleteHero(hero.id!)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="loading" class="alert alert-info text-center mt-3">
  <h4 class="alert-heading">Loading</h4>
  <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  <p class="mb-0">Please Wait...</p>
</div>
<div
  *ngIf="!loading && !heroes.length"
  class="alert alert-warning text-center mt-3"
>
  <h4 class="alert-heading">Nothing found</h4>
  <i class="fa fa-exclamation fa-2x"></i>
</div>
